html {
  text-align: center;
  background-color: #332d3b;
  color: #f3f5d5;
  height: 100%;
}
* {
  box-sizing: border-box;
}

.stats,
.bottom {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
}

.bottom {
}

.powers,
.job {
  flex: 1 0 25%;
}

.notes {
  flex: 1 0 50%;
  flex-direction: column;
  display: flex;
}
.noteForm {
  width: 100%;
  /* padding: 0 2rem; */
  margin: 4px 0;
}
.topBar {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 1.5rem;
}
.pointsLeft {
  margin: auto 0;
}

button {
  border-radius: 555vh;
  border: none;
  background: #ba4506;
  color: #aff0ef;
  appearance: none;
  margin: 0 4px;
}
button:disabled {
  background: gray;
  color: honeydew;
}

.statPicker {
  width: 8rem;
  display: inline-block;
}
.longNoteWrapper {
  display: flex;
  flex-flow: column;
}
.longNoteWrapper textarea {
  margin: 1.5rem 2px;
  min-height: 150px;
}
.longNoteWrapper button {
  margin: 2px 25%;
}

.noteForm pre,
.noteForm h4 {
  margin: 0;
}
